# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/


# Logs
*.log

# Minikube temp files
*.tmp

kubectl-argo-rollouts.exe
*.exe